<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">VirtualMall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/cargarTiendas">Carga de tiendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cargarInventarios">Carga de inventarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tiendasDisponibles">Tiendas Disponibles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/confirmarPedido">Carrito de Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cargarPedidosMasivo">Carga de Pedidos</a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="/InformePedidos">Informes de Pedidos</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<div class="contenedor">
  <div class="contenedormensaje">
  <p><br>&copy; 2021 VirtualMall <br>Todos los derechos reservados.</p> 
</div>
</div>