<div class="general">
    <div class="recuadro1">
        <h3>Iniciar Sesión</h3>
        <input [formControl]="dpi_" type="number" class="form-control" aria-label="Default" placeholder="No de DPI" aria-describedby="inputGroup-sizing-default">
        <input [formControl]="contra"type="password" class="form-control" aria-label="Default" placeholder="Contraseña"  aria-describedby="inputGroup-sizing-default">
        <button type="button" (click)="Loguear()" class="btn btn-success">Iniciar Sesión</button>
    </div>
</div>
